body{
    background-color:rgb(235, 219, 219);
     margin: 0px; 
    /* background: url("picture/bill.jpg"); */
}
#nav-bar{
    background-color:maroon;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 400px; */

}

#pic{
    height: 100px   ;
    width: 100px;
}
ul{
    /* background-color: blue; */
    display: flex;
    gap: 300px;
    font-size:30px ;
}
 #nav-bar li{
    list-style: none;
    color: rgb(250, 210, 210);
    cursor: pointer;
    border-bottom:solid 10px red ;
}
li:hover{
    color: black;
}
#oo button{
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    color: antiquewhite;
}
#oo svg{
    height: 25px;
    fill: antiquewhite;
}
#oo input{
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    /* background-color: brown; */
}
#good{
    background-color: blueviolet;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    background: url('picture/bill.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: start;
}
#good img{
    height: 500px;
    width: 400px;
    border-radius: 10px;
    border: solid 3px red;
}
#good h1{
    color: blue;
    font-size: 90px;
}
#good h2{
    color:rgb(224, 19, 19);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
#good button{
    padding: 20px 60px;
    border: none;
    border-radius: 20px;
    background-color: rgb(230, 50, 50);
    font-size: 30px;
    cursor: pointer;
}
#menu-start{
    /* background-color: rgb(255, 225, 225); */
    /* height: 700px; */
}
#menu-start h1{
    color: rgb(175, 32, 32);
    text-align: center;
    font-size: 50px;

}
#menu-cont{
    /* background-color: rgb(255, 109, 121); */
    /* height: 600px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20PX;
    flex-wrap: wrap;
}
.food{
    background-color: white;
    height: 500px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}
.food img{
    height: 250px;
    width: 100%;
    /* border-radius: 30px; */
}
.food h3{
    font-size: 30px;
}
.food button{
    padding: 15px 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(231, 97, 97);
    cursor: pointer;
    font-size: 25px;
}
#other-begin{
    /* background-color: blue; */
    /* height: 1000px; */
    text-align: center;
    justify-content: space-around;
}
#other-begin h1{
    color: brown;
    text-align: center;
    font-size: 50px;
}
#other-begin-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px 10px;
    gap: 30px;
}
.other{
    background-color: white;
    height: 500px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
}
.other img{
    height: 250px;
    width: 100%;
}
.other button{
    border-radius: 10px;
    padding: 15px 60px;
    background-color:rgb(211, 103, 103);
    border: none;
    cursor: pointer;
    font-size: 25px;
}
#Ab{
    /* background-color: rebeccapurple; */
    /* height: 300px; */
    text-align: center;
    color: rgb(230, 14, 14);
    justify-content: center;
    font-size: 20px;
}
#Ab h1{
    color: brown;
    text-align: center;
    font-size: 50px;
}
#Ab-cont{
    /* background-color: green; */
    /* height: 200px; */
    display: flex;
    justify-content: space-around;
}
#Ab-text{
    text-align: start;
    width: 700PX;
}
#Ab h3{
    font-size: 40px;
}
#Ab p{
    font-size: 30px;
}
#Ab-cont img{
    height: 300px;
    border-radius: 8px;   
}
#footer{
    background-color: rgb(228, 159, 180);
    height: 300px;
    padding: 20px 20px;
}
#footer li{
    color: red;
    list-style: none;
}
.p{
    text-align: center;
    color: red;
    font-size: 20px;
}



/* @meadia query of scree above 320px */

@media(max-width:320px){
 #nav-bar{
    /* background-color: red; */
    height: 70px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
 }
 #pic{
    height: 40px;
    width: 40px;
 }
 ul{
    /* background-color: aqua  ; */
    /* height: 60px; */
    gap: 10px;
    font-size: 14px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding-left: 0px;
 }
 #nav-bar li{
    border-bottom: none;
    padding: 0px;
    margin: 0px;
 }
 #oo button{
    padding: 8px 10px;
    border-radius:5px ;
    gap: 10px;
    font-size: 12px;
 }
 #oo svg{
    height: 11px;
 }
 #good{
    height: 350px;
    gap: 10px;
 }
 #good img{
    height: 90px;
    width: 70px;
    border-radius: 5px;
 }
 #good h1{
    font-size: 20px;
 }
 #good h2{
    font-size: 15px;
    width: 200px;
 }
 #good button{
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 8px;
 }
 #menu-start h1{
    font-size: 20px;
 }
 .food{
    background-color: white;
    height: 250px;
    width: 140px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
   
}
.food img{
    height: 150px;
    width: 100%;
    /* border-radius: 30px; */
}
.food h3{
    font-size: 10px;
}
.food button{
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(231, 97, 97);
    cursor: pointer;
    font-size: 15px;
}
#other-begin{
    /* background-color: blue; */
    /* height: 1000px; */
    text-align: center;
    justify-content: space-around;
}
#other-begin h1{
    color: brown;
    text-align: center;
    font-size: 20px;
}
#other-begin-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px 10px;
    gap: 30px;
}
.other{
    background-color: white;
    height: 300px;
    width: 130px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
}
.other img{
    height: 150px;
    width: 100%;
}
.other button{
    border-radius: 5px;
    padding: 8px 20px;
    background-color:rgb(211, 103, 103);
    border: none;
    cursor: pointer;
    font-size: 10px;
}
#Ab{
    /* background-color: rebeccapurple; */
    /* height: 300px; */
    text-align: center;
    color: rgb(230, 14, 14);
    justify-content: center;
    font-size: 20px;
}
#Ab h1{
    color: brown;
    text-align: center;
    font-size: 20px;
}
#Ab-cont{
    /* background-color: green; */
    /* height: 200px; */
    display: flex;
    justify-content: space-around;
}
#Ab-text{
    text-align: start;
    width: 100PX;
}
#Ab h3{
    font-size: 10px;
}
#Ab p{
    font-size: 10px;
    width: 150px;
}
#Ab-cont img{
    height: 100px;
    border-radius: 5px;   
}
#footer{
    background-color: rgb(228, 159, 180);
    height: 200px;
    padding: 20px 20px;
    font-size: 2px;
}
#footer li{
    color: red;
    list-style: none;
    font-size: 10px;
}
.p{
    text-align: center;
    color: red;
    font-size: 10px;
}
}
 @media(min-width:321px)and (max-width:375px){
      #nav-bar{
    /* background-color: red; */
    height: 70px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
 }
 #pic{
    height: 40px;
    width: 40px;
 }
 ul{
    /* background-color: aqua  ; */
    /* height: 60px; */
    gap: 10px;
    font-size: 14px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding-left: 0px;
 }
 #nav-bar li{
    border-bottom: none;
    padding: 0px;
    margin: 0px;
 }
 #oo button{
    padding: 8px 10px;
    border-radius:5px ;
    gap: 10px;
    font-size: 12px;
 }
 #oo svg{
    height: 11px;
 }
 #good{
    height: 350px;
    gap: 10px;
 }
 #good img{
    height: 90px;
    width: 70px;
    border-radius: 5px;
 }
 #good h1{
    font-size: 20px;
 }
 #good h2{
    font-size: 15px;
    width: 200px;
 }
 #good button{
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 8px;
 }
 #menu-start h1{
    font-size: 20px;
 }
 .food{
    background-color: white;
    height: 250px;
    width: 140px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
   
}
.food img{
    height: 150px;
    width: 100%;
    /* border-radius: 30px; */
}
.food h3{
    font-size: 10px;
}
.food button{
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(231, 97, 97);
    cursor: pointer;
    font-size: 15px;
}
#other-begin{
    /* background-color: blue; */
    /* height: 1000px; */
    text-align: center;
    justify-content: space-around;
}
#other-begin h1{
    color: brown;
    text-align: center;
    font-size: 20px;
}
#other-begin-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px 10px;
    gap: 30px;
}
.other{
    background-color: white;
    height: 300px;
    width: 130px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
}
.other img{
    height: 150px;
    width: 100%;
}
.other button{
    border-radius: 5px;
    padding: 8px 20px;
    background-color:rgb(211, 103, 103);
    border: none;
    cursor: pointer;
    font-size: 10px;
}
#Ab{
    /* background-color: rebeccapurple; */
    /* height: 300px; */
    text-align: center;
    color: rgb(230, 14, 14);
    justify-content: center;
    font-size: 20px;
}
#Ab h1{
    color: brown;
    text-align: center;
    font-size: 20px;
}
#Ab-cont{
    /* background-color: green; */
    /* height: 200px; */
    display: flex;
    justify-content: space-around;
}
#Ab-text{
    text-align: start;
    width: 100PX;
}
#Ab h3{
    font-size: 10px;
}
#Ab p{
    font-size: 10px;
    width: 150px;
}
#Ab-cont img{
    height: 100px;
    border-radius: 5px;   
}
#footer{
    background-color: rgb(228, 159, 180);
    height: 200px;
    padding: 20px 20px;
    font-size: 2px;
}
#footer li{
    color: red;
    list-style: none;
    font-size: 10px;
}
.p{
    text-align: center;
    color: red;
    font-size: 10px;
}

}
@media(min-width:376px)and (max-width:425px){
     #nav-bar{
    /* background-color: red; */
    height: 70px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
 }
 #pic{
    height: 40px;
    width: 40px;
 }
 ul{
    /* background-color: aqua  ; */
    /* height: 60px; */
    gap: 10px;
    font-size: 14px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding-left: 0px;
 }
 #nav-bar li{
    border-bottom: none;
    padding: 0px;
    margin: 0px;
 }
 #oo button{
    padding: 8px 10px;
    border-radius:5px ;
    gap: 10px;
    font-size: 12px;
 }
 #oo svg{
    height: 11px;
 }
 #good{
    height: 350px;
    gap: 10px;
 }
 #good img{
    height: 90px;
    width: 70px;
    border-radius: 5px;
 }
 #good h1{
    font-size: 20px;
 }
 #good h2{
    font-size: 15px;
    width: 200px;
 }
 #good button{
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 8px;
 }
 #menu-start h1{
    font-size: 20px;
 }
 .food{
    background-color: white;
    height: 250px;
    width: 140px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
   
}
.food img{
    height: 150px;
    width: 100%;
    /* border-radius: 30px; */
}
.food h3{
    font-size: 10px;
}
.food button{
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(231, 97, 97);
    cursor: pointer;
    font-size: 15px;
}
#other-begin{
    /* background-color: blue; */
    /* height: 1000px; */
    text-align: center;
    justify-content: space-around;
}
#other-begin h1{
    color: brown;
    text-align: center;
    font-size: 20px;
}
#other-begin-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px 10px;
    gap: 30px;
}
.other{
    background-color: white;
    height: 300px;
    width: 130px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
}
.other img{
    height: 150px;
    width: 100%;
}
.other button{
    border-radius: 5px;
    padding: 8px 20px;
    background-color:rgb(211, 103, 103);
    border: none;
    cursor: pointer;
    font-size: 10px;
}
#Ab{
    /* background-color: rebeccapurple; */
    /* height: 300px; */
    text-align: center;
    color: rgb(230, 14, 14);
    justify-content: center;
    font-size: 20px;
}
#Ab h1{
    color: brown;
    text-align: center;
    font-size: 20px;
}
#Ab-cont{
    /* background-color: green; */
    /* height: 200px; */
    display: flex;
    justify-content: space-around;
}
#Ab-text{
    text-align: start;
    width: 100PX;
}
#Ab h3{
    font-size: 10px;
}
#Ab p{
    font-size: 10px;
    width: 150px;
}
#Ab-cont img{
    height: 100px;
    border-radius: 5px;   
}
#footer{
    background-color: rgb(228, 159, 180);
    height: 200px;
    padding: 20px 20px;
    font-size: 2px;
}
#footer li{
    color: red;
    list-style: none;
    font-size: 10px;
}
.p{
    text-align: center;
    color: red;
    font-size: 10px;
}
 
}
@media(min-width:769px)and (max-width:1024px){
     
}
@media(min-width:1441px)and (max-width:2560px){
     
}
@media(min-width:1025px)and (max-width:1440px){
}
    
